<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<!--타임리프 설정-->
<script>
    function deleteTask(id){
        if (confirm("해당 담당자를 삭제하시겠습니까??") == true){    //확인
            location.href="http://localhost:8080/manager/delete/"+id;
        }else{   //취소
            return;
        }
    }

    function updateTask(id){
        if (confirm("해당 담당자를 수정하시겠습니까?") == true){    //확인
            location.href="http://localhost:8080/manager/update/"+id;
        }else{   //취소
            return;
        }
    }
</script>
<th:block th:include="fragments/common/header"></th:block>
<table class="table table-striped table-hover text-center table-bordered">

        <thead>
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>직급</th>
            <th>전화번호</th>
            <th>삭제</th>
            <th>수정</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each = "manager : ${manager_list}">
                <th th:text = "${manager.id}"></th>
                <td th:text = "${manager.manager_name}"></td>
                <td th:text = "${manager.position_type}"></td>
                <td th:text = "${manager.phone_number}"></td>
                <td width="150"><a th:onclick="|javascript:deleteTask('${manager.id}')|" class="btn btn-primary" style="background-color:red; border-color: red">삭제</a> </td>
                <td width="150"><a th:onclick="|javascript:updateTask('${manager.id}')|" class="btn btn-primary">수정</a></td>

            </tr>
        </tbody>
    <a href = "/manager/insert" class="btn btn-primary btn-xl float-sm-end m-2">담당자 추가</a>

</table>
</div>
</section>
</body>
</html>