<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comento.practical.mapper.ManagerMapper">

    <resultMap id="managerMap" type="com.comento.practical.entity.Manager">
        <result column="id" property="id"></result>
        <result column="manager_name" property="manager_name"></result>
        <result column="position_type" property="position_type"></result>
        <result column="phone_number" property="phone_number"></result>
        <result column="task_id" property="task_id"></result>
        <result column="create_time" property="create_time"></result>
        <result column="update_time" property="update_time"></result>
    </resultMap>

    <insert id="insertManager">
        insert into manager(manager_name,position_type,phone_number) values(#{manager_name},#{position_type},#{phone_number})
    </insert>

    <select id="selectAllManager" resultMap="managerMap">
        select * from manager
    </select>

    <select id="selectOneManager" resultMap="managerMap">
        select * from manager where id = #{id}
    </select>

    <select id="selectByName" resultMap="managerMap">
        select * from manager where manager_name like CONCAT('%', #{manager_name}, '%')
    </select>

    <update id="updateManager">
        update manager set position_type = #{position_type}, phone_number = #{phone_number} , update_time = now() where id = #{id}
    </update>

    <delete id="deleteManager">
        delete from manager where id = #{id}
    </delete>

</mapper>