<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<!--타임리프 설정-->
<th:block th:include="fragments/common/header"></th:block>
<table class="table table-striped table-hover text-center table-bordered">

        <thead>
        <tr>
            <th>업무코드</th>
            <th>업무명</th>
            <th>담당자</th>
            <th>직급</th>
            <th>전화번호</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each = "rnr : ${rnr_list}">
                <th th:text = "${rnr.task_code}"></th>
                <td th:text = "${rnr.task_name}"></td>
                <td th:text = "${rnr.manager_name}"></td>
                <td th:text = "${rnr.position_type}"></td>
                <td th:text = "${rnr.phone_number}"></td>
                <td><a class="btn btn-primary" th:href = "@{|select/${rnr.manager_id}|}">상세보기</a></td>
            </tr>
        </tbody>
    <a href = "/rnr/insert" class="btn btn-primary btn-xl float-sm-end m-2" >R&R 추가</a>

</table>
</div>
</section>
</body>
</html>