<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<!--타임리프 설정-->

<th:block th:include="fragments/common/header"></th:block>

<!-- Portfolio Grid Items-->
<div class="row justify-content-center">
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal">
            <a href="manager/select-all">
                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                </div><img class="img-fluid" src="img/manager.png"/></a>
        </div>
    </div>
    <!-- Portfolio Item 2-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
            <a href="rnr/select-all">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
                <img class="img-fluid" src="img/rnr.png"/></a>
        </div>
    </div>
    <!-- Portfolio Item 3-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
            <a href="task/select-all">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="img/task.png" alt="..." /></a>
        </div>
    </div>


</div>
</div>
</section>

</html>
